<div class="d-flex justify-content-center align-items-center h-75" *ngIf="recipeList == null || recipeList == undefined">
    <div class="spinner-grow text-success" role="status">
    </div>
</div>

<div class="container" [hidden]="!listLoaded">
    <div class="img-holder">
        <div class="row my-5 blur px-4 rounded border">
            <div class="text-center display-5 my-4">List of All Recipes</div>
            <div class="my-3 text-center">
                <button class="btn btn-success" [routerLink]="'add'">Add The Recipe</button>
            </div>
            <app-recipe-card [recipeList]="recipeList" (recipeToDelete)="deleteRecipe($event)"></app-recipe-card>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
