<div class="row">
  <div class="col-12 py-3 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let recipe of recipeList">
    <div class="card">
      <img src={{recipe.image}} class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          {{recipe.name}}
          <span class="badge rounded-pill rounded text-bg-success align-middle">
            {{recipe.rating}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
          </span>
        </h5>
        <p class="card-text text-muted">{{recipe.ingredients}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Prep / Cook Time : {{recipe.prepTimeMinutes}} / {{recipe.cookTimeMinutes}} minutes
      </li>
      <li class="list-group-item">
        Difficulty : {{recipe.difficulty}}
      </li>
      <li class="list-group-item">
        Calories : {{recipe.caloriesPerServing}} cal
      </li>
    </ul>
    <div class="card-body text-center">
      <!-- Router Link to send the id with the Route so that the next component can use it -->
      <button class="btn btn-outline-success m-1" [routerLink]="['/recipes',recipe.id]">View Recipe</button>
      <button [hidden]="!loginService.isLoggedIn" class="btn btn-danger m-1" (click)="deleteRecipe(recipe.id)" >Delete</button>
      <button [hidden]="!loginService.isLoggedIn" class="btn btn-outline-warning m-1" [routerLink]="['/update',recipe.id]">Update</button>
    </div>
  </div>
</div>
</div>