<div class="my-5 py-5">
  <div class="text-succes display-1 text-center">Welcome to Recipe Corner</div>
  <div class="lead text-center my-4 d-flex justify-content-center flex-column">
    Explore All the recipes Now!
    <div class="px-5 my-4">
      Welcome to our Recipe webpage! Here, you'll find a wide range of delicious recipes that are sure to tantalize your
      taste buds and impress your family and friends. Whether you're a seasoned chef or just getting started in the
      kitchen, our collection of recipes has something for everyone.
      From quick and easy weeknight meals to decadent desserts, we've got you covered. Our team of expert chefs has
      curated each recipe with care, ensuring that they are not only delicious but also easy to follow.
    </div>
  </div>
  <div class="my-4 text-center">
    <button class="btn btn-outline-danger" [routerLink]="'recipes'">Click Here!</button>
  </div>
</div>